@import "../../responsive.scss";

.employees {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;

    .sideNavbar {
        flex: 1;
        
        @include sm{
            display: none;
        }
    }


    .employeesContainer{
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            
            @include md{
                width: 56vw;
            }

            @include sm{
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            .buttons{
                display: flex;
                gap: 10px;

                @include sm{
                    flex-direction: column;
                }
                a{
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #5dbea3;
                    border: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    font-size: 16px;
    
                    &:hover{
                        background-color: #58d3b1;
                    }
                }

                button{
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #dd7973;
                    border: none;
                    transition: 0.3s ease;
                    cursor: pointer;
                    font-size: 16px;

                    &:hover{
                        background-color: #ff7871;
                    }
                }
            }
        }

        .dataGrid{
            @include md{
                width: 550px;
            }
            @include sm{
                width: 82vw;
                height: 500px;
            }
        }
    }
}