.container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s ease;

        &:hover{
            transform: scale(1.02);
        }
    }

    span{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .accordion{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        box-shadow: none;
        margin-top: -8px;
        margin-bottom: -8px;
        
        #panel1-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: -17px;
            transition: 0.3s ease;

            &:hover{
                scale: 1.02;
                color: black;
            }

        }
    }
    
    .sideNavbar{
        display: flex;
        flex-direction: column;
        gap: 20px;

        a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            transition: 0.3s ease;
            color: rgb(75, 75, 75);

            &:hover{
                scale: 1.05;
                color: black;
            }
        }
    }
}