@import "../../responsive.scss";

.customFilter {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    .gridContainer{

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        .inputContainer{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .singleGrid{
                display: flex;
                align-items: center;
                justify-content: center;
    
                input{
                    width: 175px;
                    padding: 15px;
                    border-radius: 5px;
                    border: 1px solid rgba(206, 206, 206, 0.67);

                    @include md{
                        width: 220px;
                    }
                }
    
                select{
                    width: 175px;
                    padding: 15px;
                    border-radius: 5px;
                    border: 1px solid rgba(206, 206, 206, 0.67);

                    @include md{
                        width: 220px;
                    }
                }
    
    
            }
        }




        .filterButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0063c6;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease;
            align-self: flex-end;
    
            &:hover {
                background-color: #0077ee;
            }

        }
    }

    
}