@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 128px;
      }

      span {
        display: flex;
        gap: 5px;

        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;

        @include sm {
          display: none;
        }

      }

      span {

        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        position: relative;

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

      }
    }

    .register {
      background-color: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
        color: white;
        cursor: pointer;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      height: 100vh;
      width: 0;
      /* Start with width 0 */
      opacity: 0;
      /* Start with opacity 0 */
      transition: all 1s ease;
      overflow: hidden;
      /* Ensure no content is shown when width is 0 */
      display: flex;
      /* Always display flex, but control visibility with width and opacity */
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 18px;

      a {
        margin-left: -5px;
      }

      .accordion {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        color: white;
        margin-left: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .sideNavbar {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0;
        margin-bottom: -10px;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          cursor: pointer;
          font-size: 16px;
          transition: 0.3s ease;
          color: rgb(255, 255, 255);
          margin-bottom: -10px;
          margin-top: -5px;

          &:hover {
            scale: 1.05;
            color: rgb(255, 255, 255);
          }
        }
      }

      &.active {
        width: 50%;
        /* Target width */
        opacity: 1;
        /* Target opacity */
      }
    }

    @include sm {
      z-index: 9;

      a {
        display: initial;
      }
    }
  }
}
