@import "../../responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.addEmployee {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;

    .sideNavbar {
        flex: 1;

        @include sm {
            display: none;
        }
    }


    .formContainer {
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            color: rgb(75, 75, 75);
            font-weight: 400;
        }


        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: auto;

            .reviewInfo {
                display: flex;
                gap: 50px;

                @include lg {
                    display: flex;
                    flex-direction: column;
                }

                @include md {
                    flex-direction: column;
                }

                @include sm {
                    width: 80vw;
                }



                .text {
                    width: 350px;
                    color: rgb(75, 75, 75);

                    @include sm {
                        width: 100%;
                    }

                    h3 {
                        width: 300px;
                        color: rgb(75, 75, 75);
                        font-weight: 400;
                    }
                }


                .inputs {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    padding: 15px;
                    border-radius: 5px;
                    gap: 20px;
                    width: 700px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    @include md {
                        flex-direction: column;
                        width: 500px;
                    }

                    @include sm {
                        width: 100%;
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        color: rgb(75, 75, 75);

                        input {
                            width: 670px;
                            height: 30px;
                            padding: 10px;

                            @include md {
                                width: 100%;
                            }

                            @include sm {
                                width: 100%;
                            }
                        }

                        .dates {
                            display: flex;
                            justify-content: space-between;
                            color: rgb(75, 75, 75);


                            input {
                                width: 300px;
                                color: rgb(75, 75, 75);
                            }
                        }


                    }
                }
            }

            .contactInfo {
                display: flex;
                gap: 50px;
                color: rgb(75, 75, 75);

                @include lg {
                    flex-direction: column;
                }

                @include md {
                    flex-direction: column;
                }

                @include sm {
                    width: 80vw;
                }

                .text {
                    width: 350px;
                    color: rgb(75, 75, 75);

                    @include sm {
                        width: 100%;
                    }

                    h3 {
                        width: 300px;
                        color: rgb(75, 75, 75);
                        font-weight: 400;
                    }
                }



                h3 {
                    width: 300px;
                    color: rgb(75, 75, 75);
                }

                .inputs {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    padding: 15px;
                    border-radius: 5px;
                    gap: 20px;
                    width: 700px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    @include md {
                        width: 500px;
                    }

                    @include sm {
                        width: 100%;
                        ;
                    }


                    .personalInfo {
                        display: flex;
                        justify-content: space-between;

                        @include md {
                            flex-direction: column;

                        }



                        .item {
                            @include md {
                                gap: 7px;
                            }

                            input {
                                width: 300px;

                                @include sm {
                                    width: 100%;
                                }

                                @include md {
                                    width: 100%;
                                }


                            }

                        }
                    }

                    .phones {
                        display: flex;
                        justify-content: space-between;

                        @include md {
                            flex-direction: column;
                        }

                        .item {
                            @include md {
                                gap: 7px;
                            }

                            input {
                                @include md {
                                    width: 100%;
                                }

                                width: 300px;
                            }
                        }
                    }



                    .item {
                        display: flex;
                        flex-direction: column;


                        input {
                            width: 670px;
                            height: 30px;
                            padding: 10px;

                            @include md {
                                width: 100%;
                            }

                            @include sm {
                                width: 100%;

                            }
                        }


                    }
                }
            }

            .language {
                display: flex;
                gap: 50px;

                @include lg {
                    flex-direction: column;
                    width: fit-content;
                }

                @include md {
                    flex-direction: column;
                    gap: 20px;
                }

                @include sm {
                    width: 80vw;
                }

                .text {
                    width: 350px;

                    h3 {
                        width: 300px;
                    }

                    @include sm {
                        width: 100%;
                    }
                }

                .languages {
                    background-color: white;
                }




                .item {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    padding: 15px;
                    border-radius: 5px;
                    margin-bottom: 10px;


                    @include md {
                        width: 500px;
                    }

                    @include sm {
                        width: 100%;
                    }


                    select {
                        width: 670px;
                        height: 30px;

                        @include md {
                            width: 100%;
                        }

                        @include sm {
                            width: 100%;
                        }

                    }

                    button {
                        width: 150px;
                        padding: 10px;
                        align-self: flex-start;
                        margin-bottom: 10px;
                        margin-right: 20px;
                        border: none;
                        background-color: rgb(79, 205, 77);
                        cursor: pointer;
                        transition: 0.3s ease;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.3s ease;

                        &:hover {
                            background-color: rgb(69, 178, 67);
                        }
                    }
                }
            }

            .sendButton {
                width: 150px;
                padding: 10px;
                align-self: flex-end;
                margin-bottom: 30px;
                margin-right: 20px;
                border: none;
                color: white;
                background-color: #004c99;
                cursor: pointer;
                transition: 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;

                @include sm {
                    align-self: flex-start;
                }

                &:hover {
                    background-color: #0063c6;
                }
            }

        }

    }
}