.importExcel {
    margin: 0;
    color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        background-color: #1932d20c;
        
      }
  }
  
  
  