@import "../../responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;

    .sideNavbar {
        flex: 1;
        
        @include sm{
            display: none;
        }
    }


    .reviewsContainer{
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include sm{
            overflow-y: scroll;
        }
        

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include sm{
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            h1{
                color: rgb(75, 75, 75);
                font-weight: 400;
            }

            a{
                padding: 10px;
                border-radius: 5px;
                background-color: #5dbea3;
                color: white;
                border: none;
                transition: 0.3s ease;
                cursor: pointer;
                font-size: 16px;

                &:hover{
                    background-color: #58d3b1;
                }
            }
        }

        .dataGrid{
            @include md{
                width: 550px;
            }
            @include sm{
                width: 82vw;
                height: 500px;
            }
        }
    }
}